 <div class="product-details">
  <p><strong>Codice:</strong> {{@product.codice}}</p>
  <p><strong>Descrizione:</strong> {{@product.descrizione}}</p>
  <p><strong>Prezzo:</strong> {{@product.prezzo}}€</p>
  <p><strong>Quantità:</strong> {{@product.quantita}}</p>
  <p><strong>Numero Pulsante:</strong> {{@product.numeroPulsante}}</p>
  <p><strong>Parole Chiave:</strong> {{@product.paroleChiave}}</p>
  <p><strong>Sezione:</strong> {{@product.sezione}}</p>
  <p><strong>Scaffale:</strong> {{@product.scaffale}}</p>
  <img src="../assets/mela.png" alt="Product Image" class="responsive-image"/>
</div>
